@media screen and (min-width: 600px){
    body{
        margin: 0;
        padding: 20px 50px;
        background: #fff7da;
    }
    
    .content{
        background: #fff7da;
        height: 150px;
        display: grid;
        grid-template-columns: 20% 79%;
        grid-template-areas: 
            "logo nav"}
    
    .logo{
        background: url(images/zozor_logo.png);
        width: 60px;
        height: 60px;
        grid-area: logo;}
    
    .title{
        font-family: ballpark;
        font-size: 40px;
        grid-area: logo;
        margin: 50px;}
        
    .subtitle{
        font-family: dayrom;
        font-weight: bold;
        grid-area: logo;
        margin-top: 80px;
        margin-left: 10px;}
    
    .navbar ul li{
        font-family: dayrom;
        font-size: 20px;
        list-style-type: none;}
    
    ul{
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;}
    
    li{ 
        margin-left: 10%;
        margin-top: 3%;
    }
    .modal_close{
        visibility: hidden;}
    a{
        text-decoration: none;
        color: black;}
    
    .navbar ul a:hover{
        color: #8f463d;
        text-shadow: 1px 2px 3px #6e342d;
        border-bottom: 3px solid #8f463d;}
    
    .accueil{
        grid-area: acc;}
    
    .blog{
        grid-area: blo;}
    
    .cv {
        grid-area: cv;}
    
    .contact{
        grid-area: cont;}
    
    .slide{
        background: url(imageS/separateur.png);
        width: 500%;
        height: 4px;}
}














    @media screen and (max-width: 600px){
        body{
            margin: 0;
            padding: 20px 30px;
            background: #fff7da;}
        
        .content{
            background: #fff7da;
            height: 150px;
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-areas: 
                "logo nav"}
        
        .logo{
            background: url(image/zozor_logo.png);
            width: 40px;
            height: 40px;
            background-size: cover;
            grid-area: logo;}
        
        .title{
            font-family: ballpark;
            font-size: 30px;
            grid-area: logo;
            margin: 30px;}
            
        .subtitle{
            font-family: dayrom;
            font-weight: bold;
            grid-area: logo;
            margin-top: 60px;
            margin-left: -10px;}
        
        .navbar ul li{
            font-family: dayrom;
            font-size: 20px;
            list-style-type: none;}
        
        ul{
            grid-area: nav;
            display: flex;
            flex-direction: column;
            margin-right: 10%;}
    
        li{ 
            margin-left: 10%;
            margin-top: 20px;
            }
            /* Menu Burger */
        #button{
            width: 42px;
            height: 24px;
            padding-top: 20px;
            margin-left: 80%;}
        
        .burger{
            width: 25px;
            height: 3px;
            background-color: black;
            display: flex;
            flex-direction: column;}
        
        .burger::before, .burger::after{
            content: "";
            position: absolute;
            width: 25px;
            height: 3px;
            background-color: black;
            align-self: center;}
        
        .burger::before{
            transform: translateY(-10px);}
        
        .burger::after{
            transform: translateY(10px);}
    
                   /* Fenêtre Modal */
        .modal{
            visibility: hidden;
            opacity: 0;
            background-color: rgba(7, 7, 7, .7);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;}
    
        .modal:target{
            visibility: visible;
            animation: anime 3s;
            opacity: 1;}
        
        @keyframes anime{
            from{
                transform: translateX(-100%)
            }
            to{
                transform: translateX(0);}}
    
        .modal-content{
            background-color: #8f463d;
            width: 20vw;
            height: 100vh;
            max-width: 25%;
            display: block;
            padding: 25px;}
    
        .modal_close{
            color: white;
            font-size: 30px;
            justify-self: right;
            text-decoration: none;}
        
        a{
            text-decoration: none;
            color: white;}
        
        .navbar ul a:hover{
            color: #8f463d;
            text-shadow: 1px 2px 3px #6e342d;
            border-bottom: 3px solid #8f463d;}
        
        .accueil{
            grid-area: acc;}
        
        .blog{
            grid-area: blo;}
        
        .cv {
            grid-area: cv;}
        
        .contact{
            grid-area: cont;}
        
        .slide{
            width: 200%;
        }
    }